#spinner {
	width: 100%;
	background-color: white;
	height: 100px;
	display: flex;
	align-items: center;
}

#spinner img {
	margin: 0 auto;
}

.container {
	margin-bottom: 20px;
}

.cancel-download {
	color: black;
	cursor: pointer;
}
.cancel-download:hover {
	text-decoration: none;
	font-weight: bold;
	color: red;
}

#downloads h6 {
	word-wrap: break-word;
}
#downloads .download-folder {
	word-wrap: break-word;
}
#downloads .download-progress {
	float: right;
}
